<!DOCTYPE HTML>
<html>
  <head>
    {{> head}}
    <title>About page</title>

  </head>
  <body>
    {{> header}}
    <section>
      this page is about page
    </section>
{{>footer}}
  </body>

</html>
