<!DOCTYPE HTML>
<html>
  <head>
    {{> head}}
    <title>Contacts page</title>

  </head>
  <body>
    {{> header}}
    <section>
          <p>e-mail and address</p>
    </section>

{{>footer}}
  </body>

</html>
