<!DOCTYPE HTML>
<html>
  <head>
  {{> head}}
    <title>Home page</title>
  </head>
  <body>
    {{> header}}
      <section>
        <p>{{sreamIt welcomeMessage}}</p>
      </section>

    {{> footer}}


  </body>

</html>
