<!DOCTYPE HTML>
<html>
  <head>
    {{> head}}
    <title>Modules page</title>

  </head>
  <body>
    {{> header}}
    <section>
      <article id='home'>
        <p>
          questo è il modulo di gestione di servizi Care a domicilio
        </p>
      </article>
      <article id='clinical'>
          questo è il modulo che ti permette di gestire una rete di cliniche collegate al tuo progetto Health care
      </article>
      <article id='adminUsers'>

      </article>
      <article id='sms'>
          avvisa i tuoi clienti in modo puntuale con l'invio automatico di sms
      </article>

    </section>

{{>footer}}
  </body>

</html>
