<!DOCTYPE HTML>
<html>
  <head>
    {{> head}}
    <title>projects page</title>

  </head>
  <body>
    {{> header}}
    <section>
          <p>add some projects</p>
    </section>

{{>footer}}
  </body>

</html>
